/*

*/


/* TYPOGRAPHY */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.4em;
}

h1,
h2,
h3,
h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.title h1,
.title h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.title {
    color: #fff;
    font-size: 2.6em;
    line-height: 2em;
}

.section-title {
    font-size: 1.8em;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.6em;
    }
}


/* GRID */

#grid-container {
    width: 100%;
}

#main-grid {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 960px) 1fr;
}

.header {
    grid-column: 1 / span 3;
    grid-row: 1;
    background-image: url("css/img/lake-2063957_1920.jpg");
    background-size: cover;
    height: 100vh;
}

.header .content {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 960px) 1fr;
    height: 100vh;
}

.header .sub-grid {
    grid-column: 2 / span 1;
    height: 100%;
}

.footer .content {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 960px) 1fr;
}

.footer .sub-grid {
    grid-column: 2 / span 1;
}

.title {
    justify-self: center;
    align-self: center;
    grid-column: 1 / span 12;
}

.header-img {
    align-self: top;
    grid-column: 4 / span 2;
    
    /*clip-path: circle(70px at 50% 50%);*/
}

.header-quote {
    grid-column: 6 / span 4;
    color: #fff;
}

.content {
    grid-column-start: 2;
    grid-column-end: 2;
    /* width: 100%; */
    margin: 10px 5px;
    padding: 0 10px;
}

.sub-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1em;
}

.sub-grid-main {
    grid-column: 1 / span 8;
}

.sub-grid-sidebar {
    grid-column: 9 / span 4;
}

@media (max-width: 500px) {
    .sub-grid {
        grid-template-columns: 100%;
        grid-column-gap: 0;
    }
    .sub-grid-main {
        grid-column: 1 / span 1;
    }
    .sub-grid-sidebar {
        grid-column: 1 / span 1;
    }
    .header .sub-grid {
        height: 50%;
    }
    .header-quote {
        grid-column: 1 / span 1;
    }
    .header-img {
        grid-column: 1 / span 1;
        height: 100px;
    }
}


/* FLEX */

.flex-container {
    grid-column: 1 / span 12;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
}

.flex-box-leadership {
    width: 25%;
    padding: 10px;
    margin: 20px 20px;
    flex-grow: 1;
}

.leadership-img {
    width: 100px;
    clip-path: circle(50px at 50% 50%);
    height: 100px;
    margin-top: 20px;
}

.flex-box-bulletin {
    width: 25%;
    flex-grow: 1;
    padding: 10px;
    margin: 20px 20px;
    border: solid 1px #dedede;
    /* flex-flow: 20px; */
}

@media (max-width: 767px) {
    .flex-box-leadership {
        width: 100%;
    }
    .leadership-text {
        float: right;
        width: 70%;
    }
    .leadership-img {
        float: left;
        max-width: 33%;
    }
}


/* SECTION */

.section-title {
    grid-column: 1 / span 6;
}

section::after {
    content: "";
    display: block;
    margin: 10px 20%;
    border-bottom: 1px solid gray;
}


/* Sermans */

.serman-container {
    grid-column: 1 / span 12;
}

.serman-text {
    grid-column: 1 / span 9;
}

.serman-img {
    width: 200px;
    grid-column: 10 / span 3;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .serman-text {
        grid-column: 1 / span 7;
    }
    .serman-img {
        width: 100%;
        float: left;
        grid-column: 8 / span 4;
    }
}

@media (max-width: 500px) {
    .serman-img {
        width: 100%;
        grid-column: 1;
    }
}


/* Contact */

.contact-img {
    width: 100%;
}

.location-map {
    grid-column: 1 / span 3;
    /*    background-image: url("css/img/lake-2063957_1920.jpg");*/
}

.map-img {
    width: 100%;
}


/* FOoter*/

footer {
    grid-column: 1 / span 3;
    background-color: rgb(210, 199, 247);
}

.footer-col {
    grid-column-end: span 4;
}


/* IMages */